---
layout: default
---
<div>
<h1 style="text-align:center">Javan Cook</h1>
<h3 style="text-align:center" class="text-muted spacerfun">A blog about various different projects.</h3>
</div>

{% for post in paginator.posts %}
<a href="{{ post.url }}">
<table class="table table-hover">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align:left"><h3>{{ post.title }}</h3>
      <h4>{{ post.description }}</h4>
      <td style="text-align:right"><h4>{{ post.date | date_to_long_string }}</h4></td>
    </tr>
  </tbody>
</table>
</a>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div style="text-align:center">
<div class="pagination">

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: 'page:num',  }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
</div>
{% endif %}
