{% include header.html %}

<div class="row spacerfun3 spacerfun2">
  <div class="col-md-2"></div>
  <div class="col-md-8" style="text-align:justify">
    <h1>{{ page.title }}</h1>
    <p class="muted">{{ page.date | date_to_long_string }}</p>

    {{ content }}

    <h4 style="text-align:center" class="spacerfun2">
    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp
    See more by category:
    <a href="/search.html?category={{ page.category | downcase }}">{{ page.category }}</a></h4>
    <h4 style="text-align:center">
    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp
    See more by tags:
    {% for tag in page.tags %}
    <a href="/search.html?tags={{ tag | downcase }}">{{ tag }}</a>
    {% endfor %}
    </h4>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
<h4>
<div class="col-md-2"></div>
<div class="col-md-3">
  {% if page.previous.url %}
    <div style="text-align:left">&nbsp&nbspPrevious Post:</div>
  {% endif %}
</div>
<div class="col-md-2"></div>
<div class="col-md-3">
  {% if page.next.url %}
    <div style="text-align:right">Next Post:&nbsp&nbsp</div>
  {% endif %}
</div>
<div class="col-md-2"></div>
</h4>
</div>

<div class="row">
<h4 class="spacerfun">
<div class="col-md-2"></div>
<div class="col-md-3">
<div class="PageNavigation" style="text-align:left">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
</div>
</div>
<div class="col-md-2"></div>
<div class="col-md-3">
<div class="PageNavigation" style="text-align:right">
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
</div>
<div class="col-md-2"></div>
</h4>
</div>

{% include footer.html %}
